html, body {
    background-color: #221a0f;
    font-family: Arial, Helvetica, sans-serif;
    color: #D3AF86;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

nav ul {
    color: #8AB1B0;
    list-style: none;
    padding: 0;
}

h1, h2, h3, h4 {
    color: #DC3958;
}


#nav-container {
    position: fixed;
    top: 0;
    bottom: 0;
}
#nav-container nav {
    height: 100%;

    display: flex;
    align-items: stretch;
    flex-direction: row;
    border-right: 2px solid #4a3d2c;
}
#nav-container nav ul {
    font-size: 30px;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    padding: 0 20px;
}

#page-content {
    margin-left: 190px;
    padding: 0 60px;
    font-size: 1.5em;
}

#experience-container {
    border-top: 2px solid #362712;
    display: flex;
    flex-direction: row;
}
#experience-nav ul li {
    margin-top: 1em;
}
.experience-attribute-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
#experience-container .experience-attribute {
    color: #F79A32;
    font-style: italic;
}
#experience-content {
    margin-left: 40px;
}
#experience-container #experience-description {
    margin-top: 20px;
}

.skill {
    background-color: #362712;
    box-sizing: border-box;
    margin: 32px 0px;
}

.skill-progress-indicator {
    padding: 12px 24px;
    font-size: 3em;
    background-color: #889B4A;
    box-sizing: inherit;
}

#skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 65px;
}

.skills-list {
    flex: 47.5%;
}
